html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

/*.navbar-item {
	margin-right: 20px;
	margin-left: 20px;
}*/

#title {
	font-size: 25px;
    line-height : 0px;
}

#content {
   position: absolute;
   top: 20px; /* Top margin edge */
   right: 0px; /* Right margin edge */
   cursor: pointer;
}

#Projects {
	position:absolute;
	top: 10px;
	right: 300px;
}

/*#Photos {
	position: absolute;
	top: 10px;
	right: 100px;
}*/

#Lead {
	position: absolute;
	top: 10px;
	right: 200px;
}

#Lead:hover {
	cursor: auto;
}

#UGBA96 {
	font-size: 20px;
    line-height : 0px;
}

#PH142 {
	font-size: 20px;
    line-height : 0px;
}

#CP101 {
	font-size: 20px;
    line-height : 0px;
}

#IAS150 {
	font-size: 20px;
    line-height : 0px;
}

#CP113b {
	font-size: 20px;
    line-height : 0px;
}

#Soc130AC {
	font-size: 20px;
    line-height : 0px;
}