#title {
	/*text-align: center;*/
  /*vertical-align: text-top;*/
  position: absolute;
  top: 1px;
  right: 40%;
}

#description {
  position: absolute;
	text-align:center;
  top: 55px;
  left: 20%;
}

/*.row1 {
	display: flex;
	justify-content: space-between;
}

.row2 {
	display: flex;
	justify-content: space-between;
}*/

#lab7 {
	/*position: relative;
	width: 400px;
	margin: auto;
	line-height: 1.5;
	left: 300px;
*/
	position: absolute;
	width: 400px;
	margin: auto;
	line-height: 1.5;
	left: 900px;
	top: 60px;
}

.lab7description {
	position: absolute;
	width: 400px;
	margin: auto;
	line-height: 1.5;
	left: 900px;
	top: 60px;
}

/*#lab7 {
	position: absolute;
	top: 100px;
	left: 100px;
	cursor:pointer;
}

#lab8 {
	position: absolute;
	top: 100px;
	left: 900px;
	cursor:pointer;
}

#lab9 {
	position: absolute;
	top:400px;
	left: 100px;
	cursor:pointer;
}

#lab10 {
	position:absolute;
	top: 400px;
	left: 900px;
	cursor:pointer;
}

/*https://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering*/
/*.lab7description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  /*transition: opacity .2s, visibility .2s;
}
*/
/*#lab7:hover .lab7description {
  visibility: visible;
  opacity: 1;
}

.lab8description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(255, 0, 0, 0.2);*/
  /*/**/
